<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="../public/style/admin_index.css">
</head>

<body class="login-body">
    <% if (errorMessage) { %>
        <div><%= errorMessage %></div>
    <% } %>
    <form class="login-form" action="/new-password" method="POST">
        <div class="login-container">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">

            <input type="password" name="password" placeholder="Новый пароль">
            <input type="password" name="confirmPassword" placeholder="Повторить новый пароль">
            <button class="login-btn-item" type="submit">Сохранить новый пароль</button>
        </div>
    </form>
</body>


</html>