<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="../public/style/contact.css">
</head>

<body id="body">
    <%- include('includes/navbar.ejs') %>
    <div class="contact-wrapper">
        <div class="contact-map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A447544fdbddfb05b54edaa5c8d9b750f9f53f8d78dfdfae537a7c92a5d3d170f&amp;width=100%25&amp;height=920&amp;lang=ru_RU&amp;scroll=false"></script>
        </div>
        <div class="map-hover"></div>
        <div class="container container_cc">
            <div class="cc-container">
                <h2 class="cc-title">Контакты</h2>
                <div class="cc-content">
                    <div id="p" class="cc-addr">
                        <p>Город: Москва</p>
                        <p>Электропочта: <span id="p_1" class="cc-addr-btn">ПОКАЗАТЬ</span></p>
                        <p>Телефон: <span id="p_2" class="cc-addr-btn">ПОКАЗАТЬ</span></p>
                        <p>Telegram: <span id="p_3" class="cc-addr-btn">ПОКАЗАТЬ</span></p>
                    </div>
                    <form class="cc-form" action="/contact" method="POST">
                        <h2 class="cc-title">Отправить сообщение</h2>
                        <div class="cc-name-phone">
                            <input class="cc-input_name" type="text" name="name" placeholder="Имя и Фамилия" required>
                            <input class="cc-input_phone" type="tel" name="phone" placeholder="Телефон" required>
                        </div>
                        <input class="cc-input_email" type="email" name="email" placeholder="Электропочта" required>
                        <textarea class="cc-input_message" name="message" placeholder="Сообщение" required></textarea>
                        <button class="cc-form-btn" type="submit" <%= sendButton%> ><%= sendButtonText%></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <%- include('includes/footer.ejs')%>
    <script src="../public/js/app.js"></script>
</body>

</html>