<!DOCTYPE html>
<html lang="ru">

<head>

    <%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="../public/style/portfolio.css">

</head>

<body id="body">

    <%- include('includes/navbar.ejs') %>

    <%- include('includes/header.ejs')%>

    <div class="container">
        <div class="portfolio__menu">
            <ul class="menu__container">
                <li class="menu__item"><a href="/portfolio/exampl">ПРИМЕРЫ</a></li>
                <li class="menu__item"><a href="/portfolio/2018">2018г.</a></li>
                <li class="menu__item"><a href="/portfolio/2017">2017г.</a></li>
                <li class="menu__item"><a href="/portfolio/2016">2016г.</a></li>
                <li class="menu__item"><a href="/portfolio/2015">2015г.</a></li>
                <li class="menu__item"><a href="/portfolio/2014">2014г.</a></li>
            </ul>

        </div>
        <div class="menu__container">

            <h3>
                <%= yearId =='exampl'? 'Примеры выполненных работ': `Работы выполненные за ${yearId} год` %>
            </h3>

        </div>


        <% if (yearId =='exampl') { %>

        <div class="portfolio__container">
            <div class="portfolio__item" style="background-image: url('/public/img/фильтр-1.png');">
                <div class="portfolio__description">
                    <p>Расчет на прочность сосуда работающего под давлением</p>
                    <p>Сепаратор пробкоуловитель</p>
                    <p>Марка стали: SA533/508</p>
                </div>
            </div>
            <div class="portfolio__item" style="background-image: url('/public/img/фильтр-1.png');"></div>
            <div class="portfolio__item" style="background-image: url('/public/img/фильтр-1.png');"></div>
            <div class="portfolio__item" style="background-image: url('/public/img/фильтр-1.png');"></div>
        </div>

        <% } else { %>

        <div class="portfolio__container">

            <% for (product of prod) { %>

            <% if (product.year === yearId) { %>
            <div class="portfolio__item" style="background-image: url('<%= product.url %>');">
                <div class="portfolio__description">
                    <p>
                        <%= product.descript %>
                    </p>
                    <p>
                        <%= product.title %>
                    </p>
                    <p>
                        <%= product.feature %>
                    </p>
                </div>
                <div class="portfolio__admin">
                    <form action="/admin/delete-work" method="POST">
                        <button class="portfolio__adminButton">Удалить</button>
                    </form>
                    <a href="/admin/edit-work">Редактировать</a>
                </div>
            </div>
            <% } %>
            <% } %>
        </div>

        <% } %>
    </div>

    <%- include('includes/rc.ejs')%>
    <%- include('includes/footer.ejs')%>

    <script src="../public/js/app.js"></script>

</body>

</html>